<!doctype html>
<html>

	<head>
		<title>Hello, world!</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
		{{ encore_entry_link_tags('app') }}
	</head>

	<body ng-app="app">
		<div class="wrapper ">
			{% include "layout/sidebar.html.twig" %}
			<div class="main-panel">
				{% include "layout/navbar.html.twig" %}
				<div class="content">
					<div class="container-fluid"> 
						{% block content %}{% endblock %}
					</div>
				</div>
				{% include "layout/footer.html.twig" %}
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js"></script>
		{# <script src="{{asset('core/jquery.min.js')}}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script> #}
		<script src="{{asset('core/popper.min.js')}}"></script>
		<script src="{{asset('core/bootstrap-material-design.min.js')}}"></script>
		{{ encore_entry_script_tags('app') }}
	</body>
</html>
