<div class="dialog-content">
	<input type="text" id="content_id" name="content[id]" value="{{content.id}}" hidden>
	<div class="dialog-header">
		<h3 class="text-center h1-custom-style">Modifier un contenu</h3>
	</div>
	<div class="container" style="width: 650px !important;">
		{{ form_start(form,{attr : {id:'form_content'}}) }}
		<div class="form-group bmd-form-group is-filled">
			{{ form_label(form.title1,'Titre numero 1',{attr:{class:'bmd-label-floating'}}) }}
			{{ form_widget(form.title1,{attr:{class:'form-control'}}) }}
		</div>
		<div class="form-group bmd-form-group is-filled">
			{{ form_label(form.title2,'Titre numero 2',{attr:{class:'bmd-label-floating'}}) }}
			{{ form_widget(form.title2,{attr:{class:'form-control'}}) }}
		</div>
		<div class="form-group bmd-form-group is-filled">
			{{ form_label(form.img,'Image',{attr:{class:'bmd-label-floating'}}) }}
			{{ form_widget(form.img,{attr:{class:'form-control'}}) }}
		</div>
		<div class="form-group bmd-form-group is-filled">
			{{ form_label(form.description,'Descriptionns 1',{attr:{class:'bmd-label-floating'}}) }}
			{{ form_widget(form.description,{attr:{class:'form-control'}}) }}
		</div>
		<div class="form-group bmd-form-group is-filled">
			{{ form_label(form.description,'Descriptionns 2',{attr:{class:'bmd-label-floating'}}) }}
			{{ form_widget(form.full_description,{attr:{class:'form-control'}}) }}
		</div>
		{{ form_end(form) }}
		<button class="btn btn-success pull-right" onclick="clickSave()">
			Enregistrer
		</button>
	</div>
</div>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script>
	function clickSave() {
		$('#form_content').ajaxSubmit(
			{
				url:Routing.generate('content.valid',{
					content:$('#content_id').val()
				}),
				type:'post'
			}
		)
    }
</script>
