{% extends 'base.html.twig' %}

{% block content %}
	<div class="content" ng-controller="tableCtrl">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						{% verbatim %}
							<div class="card-header card-header-primary">
								<md-input-container>
									<label>Menu à modifier</label>
									<md-select name="type" ng-model="selected_type" ng-change="changeType()">
										<md-option ng-repeat="type in allTypes" ng-value="type.id">{{type.title}}</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div class="card-body" ng-init="initTable()">
								<table class="table">
									<thead>
										<tr>
											<th>Titre 1</th>
											<th>Titre 2</th>
											<th>Image</th>
											<th>Descriptions</th>
											<th>Descriptions 2</th>
											<th class="text-center">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="content in contents">
											<td>{{content.title1 | limitTo:20}}</td>
											<td>{{content.title2 | limitTo:20}}</td>
											<td>{{content.img | limitTo:20}}</td>
											<td>{{content.description | limitTo:20}}</td>
											<td>{{content.fullDescription | limitTo:20}}</td>
											<td class="td-actions text-center">
												<button type="button" rel="tooltip" class="btn btn-success" ng-click="showEditDialog($event,$index,'parent')">
													<md-tooltip>Modifier</md-tooltip>
													<i class="material-icons">edit</i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
								<h3 class="text-center text-info">
									Enfants
								</h3>
								<button class="btn btn-success" ng-click="showAddDialog($event)">Ajouter</button>
								<div ng-if="contents[0].childs.length > 0">
									<table class="table">
										<thead>
											<tr>
												<th>Titre 1</th>
												<th>Titre 2</th>
												<th>Image</th>
												<th>Descriptions</th>
												<th>Descriptions 2</th>
												<th class="text-center">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="content in contents[0].childs">
												<td>{{content.title1 | limitTo:20}}</td>
												<td>{{content.title2 | limitTo:20}}</td>
												<td>{{content.img | limitTo:20}}</td>
												<td>{{content.description | limitTo:20}}</td>
												<td>{{content.fullDescription | limitTo:20}}</td>
												<td class="td-actions text-center">
													<button type="button" rel="tooltip" class="btn btn-success" ng-click="showEditDialog($event,$index,'child')">
														<md-tooltip>Modifier</md-tooltip>
														<i class="material-icons">edit</i>
													</button>
													<button type="button" rel="tooltip" class="btn btn-danger" ng-click="showConfirm($event,$index)">
														<md-tooltip>Suprimer</md-tooltip>
														<i class="material-icons">close</i>
													</button>
												</td>
											</tr>
										</tbody>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				{% endverbatim %}
			</div>
		</div>
	</div>
</div></div>{% endblock %}
