<div class="sidebar" data-color="purple" data-background-color="white">
	<div class="logo">
		<a href="http://www.creative-tim.com" class="simple-text logo-normal">
			<img src="{{ asset('uploads/logo/logo.png') }}"></img>
		</a>
	</div>
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item active  ">
				<a class="nav-link" href="#0">
					<i class="material-icons">dashboard</i>
					<p>Contenu</p>
				</a>
			</li>
		</ul>
	</div>
</div>
